* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #FAFAFA;

}
.button-primary {
    background-color: #2D9148;
    color: #FAFAFA;
    padding: 5px 15px;
    border: 1px transparent;
    border-radius: 5px;
    cursor: pointer;
}
.button-secondary {
    background-color: #FAFAFA;
    color: #2D9148;
    padding: 5px 15px;
    border: 1px solid #2D9148;
    border-radius: 5px;
    cursor: pointer;
}
.button-tercery {
    background-color: #912D33;
    color: #FAFAFA;
    padding: 5px 15px;
    border: 1px transparent;
    border-radius: 5px;
    cursor: pointer;
}